i.icon {
    font-size: 2em;
}

.chevron.icon {
  position: relative;
  /* Adjust these values accordingly */
  top: 7px;
  left: 5px;
}

.container.main {
    margin-top: 7em;
}

#delete {
    display: inline;
}
